.principal{
	background: #CCCCCC;
	padding: 30px;
}

.exemplo{
    padding-left: 1100px;
}
@media screen and (max-width: 480px) {
	p { 
                background-color: rgb(red);
                   font-size: 25px;
	}
}
